<li> 
    <%= user.username %>: <strong><%= user.user_type %></strong><a href="/promoteUser?username=<%= user.username %>"   style="padding-left: 20px;"><button class="btn btn-danger rounded-pill px-3 ml-auto float-right" href="/promoteUser?username=<%= user.username %>" type="button">Promote to Admin</button></a>|| <a href="/demoteUser?username=<%= user.username %>"><button class="btn btn-success rounded-pill px-3 ml-auto" href="/demoteUser?username=<%= user.username %>" type="button">Demote to User</button></a>
</li>
